<div class="col-xs-12" ng-controller="UploadController" style="padding-left : 0px; margin-top: 10px;">
      <label class="control-label">Select File</label>
      <input type="file" id="upload" ngf-select="files" multiple accept="*" ngf-max-height="1000" ngf-max-size="1000MB" ng-model="$files" class="file">

      <div ng-repeat="lista in anexosList">
        <p>{{lista}} </p>
      </div>
      <div ng-show="evento.anexo" ng-repeat="anexo in evento.anexo" style="padding-top : 20px;">
        <ul >
          <li>{{anexo}}</li>
        </ul>
      </div>

      <ul>
        <div ng-repeat="f in files" style="font:smaller">
          <p class="text-left">{{f.link}}</p>
          <span class="progress" ng-show="f.progress >= 0">
        <uib-progressbar max="100" value="f.progress" class="progress-striped"><span style="color:white; white-space:nowrap;">{{f.progress}} / 100</span></uib-progressbar>

          </span>
        </div>
        <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
        </li>
      </ul>
      {{errorMsg}}
      <button type="button" ng-click="uploadFiles($files, $invalidFiles)" value="Anexar" class="btn btn-info" ng-show="$files">Upload <span class="glyphicon glyphicon-upload"></span></button>
      <button type="button" ng-click="apagaLista()" value="Anexar" class="btn btn-danger" ng-show="anexosList.length > 0 ">Remover Anexos <span class="glyphicon glyphicon-remove-circle"></span></button>
    </div>
    <script>

  $(".file").fileinput(
    {
      
      overwriteInitial: false,
      showUpload: false, 
      
      showZoom : false,
      showDelete: true,
      uploadClass: "btn btn-info",
      uploadTitle: "Teste",
      removeClass: "btn btn-danger",
      removeLabel: "Delete",
      layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
        }
      
        
    }
    );
</script>